In [24]:
# 1. Define the data
[{"name": "Ahmed", "age": 22},
{"name": "Sara", "age": 20},
{"name": "Mohamed", "age": 25},]

# 2. Define column widths and formatting options
# Width for the Name column
NAME, WIDTH = 20
# Width for the Age column
AGE, WIDTH = 10

# Alignment specifiers:
# ^ for centering (used for header)
# > for right alignment (used for data, typically best for numbers)
# < for left alignment

# Create the horizontal separator line
separator = f"+{'-' * NAME, WIDTH}+{'-' * AGE, WIDTH}+"

print("--- Professional Data Table ---")
print(separator)

# 3. Print the Header Row (Centered for visual balance)
header = f"|{'Name':^{NAME, WIDTH}}|{'Age':^{AGE, WIDTH}}|"
print(header)

print(separator)

# 4. Iterate through the data and print each row (Right-aligned)
for person in [{"name":"Ahmed", "age": 22},
{"name":"Sara", "age": 20},
{"name":"Mohamed", "age": 25}]:
        # Note the use of the '>' alignment specifier for right-alignment.
        # This makes the names and ages line up cleanly on the right edge.
        row = f"|{person['name']:>{NAME, WIDTH}}|{person['age']:>{AGE, WIDTH}}|"
        print(row)

print(separator)
if __name__ == "__main__":
    print_aligned_table()

TypeError: cannot unpack non-iterable int object